@media (max-width: 375px) {
  .container{
    flex-direction:column;
  .text{padding-top:20px;}
  
}
@media (max-width: 1440px) {
 
  
  .container{
    display:flex;
    justify items:left;
    align-items:center;
  
  }
  img{
    max-width:100%;}
  .image{
  flex-basis:auto;}
  
  .text{padding-left:20px;
    text align:left;
  }

}
