@media (max-width: 375px) {
  .container{
    flex-direction:column;
  }
  
}
@media (max-width: 1440px) {
 
  
  .container{
    display:flex;
  align-items:center;
  justify-content:center;
  }
  img{
    max-width:100%;}
  .image{
  flex-basis:40%;}
  
  .text{padding-left:20px;
  }

}
